body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;

  // Helps fonts on OSX looks more consistent with other systems
  // Isn't currently in button styles due to performance concerns
  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .mat-sidenav {
    min-width: 15vw;

    .mat-button {
      width: 100%;
      position: relative;
      bottom: 0;
      margin: 24px 0;
    }
  }

  .demo-content {
    padding: 32px;
    box-sizing: border-box;
  }

  .mat-option {
    line-height: 32px;
    height: 32px;
  }

  @media(max-device-width: 480px) {
    .demo-content {
      padding: .1rem;
    }

    .demo-toolbar {

      .july-title {
        position: relative;
        width: 75%;
        padding: 0 5px;
        margin: 0 auto;
        overflow: hidden;
        font-size: 14px;
        text-align: center;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }

  .mat-toolbar {
    .mat-icon {
      cursor: pointer;
    }

    .demo-toolbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
  }

  h1 {
    font-size: 20px;
  }

  .gh-icon {
    line-height: 40px;
    align-items: center;
    color: #fff;
  }
}

// stretch to screen size in fullscreen mode
.demo-content {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

@import url("https://assets-cdn.github.com/assets/frameworks-bedfc518345498ab3204d330c1727cde7e733526a09cd7df6867f6a231565091.css");
